<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="type" property="og:type" content="Website">
    <meta name="title" property="og:title" content="Allen Ben Philipose">
    <meta name="description" property="og:description" content="Personal Website of Allen Ben Philipose">
    <meta name="author" content="Allen Ben Philipose">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="keywords" content="Allen, Allen Ben, Allen Ben Philipose, 
      Allen Ben Philip, Allen Ben Website, Allen Website, Allen Ben Iykk, 
      Allen Ben Philipose website, abphilip iykk, Allen Ben Philipose,
      allen, allen ben, abphilip, allen iykk, Allen, allenalvin333, 
      Allen, Ben, Philipose, Allen Certifications, allenbphilip"
    >
    <title>Allen Ben Philipose</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="{{ '/assets/favicon.webp' | relative_url }}" rel="icon">
    <link href="{{ '/assets/favicon.webp' | relative_url }}" rel="shortcut icon">
    <link href="{{ '/assets/favicon.webp' | relative_url }}" rel="apple-touch-icon">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Certifications</h1><br/>
      <a href="{{ '/' | relative_url }}" class="btn">About</a>
      <a href="{{ '/Personal' | relative_url }}" class="btn">Personal</a>
      <a href="{{ '/Academic' | relative_url }}" class="btn">Academic</a>
      <a href="{{ '/Professional' | relative_url }}" class="btn">Professional</a>
    </header>
    <main id="content" class="main-content" role="main">{{ content }}</main>
  </body>
</html>
